/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*MY OWN STYLE IS AFTER THIS
POINT
 */
.main-wrapper{
    margin: 0 auto;
    width:1000px;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("cover3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:110vh;
}
header nav{
    width:100%;
    height:60px;
    background-color: rgba(100,0,100,0.2);
}
header nav ul{
    float:left;

}
header nav ul li{
    float:left;
    list-style: none;


}
a{
    text-decoration: none;

}
header nav ul li a{
    font-family:arial;
    font-size:16px;
    color:#111;
    border-radius: 5px;
    line-height:60px;
    margin-right: 10px;

}
header .nav-login{
    float:right;
}
header .nav-login form{
    float:left;
    padding-top: 15px;
}
header .nav-login form input{
    float:left;
    width:140px;
    height:30px;
    padding:0px 10px;
    margin-right:10px;
    border:black;
    background-color: white;
    font-family:arial;
    font-size:14px;
    color:#111;
    line-height:30px;
}
header .nav-login form button{
     float:left;
     width:60px;
     height:30px;
     margin-right:10px;
     border:black;
     background-color: whitesmoke;
     font-family:arial;
     font-size:14px;
     color:#111;
     cursor:pointer;
     border-radius: 5px;

 }
header .nav-login form button:hover{

    background-color:beige;


}
header .nav-login a{
    display:block;
    width:60px;
    height: 60px;
    font-family:arial;
    font-size:16px;
    color: black;
    cursor: pointer;
    float:left;
    line-height:63px;
}
.main-container{
    padding-top:40px;
}
.headerT{
    font_family:arial;
    font-size:40px;
    font-color:white;
    line-height:50px;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
}

.signup{
    font_family:arial;
    font-size:40px;
    color: white;
    line-height:50px;
    text-align: center;
  }
/*STYLING SIGNUP SHEET

 */
.signup-form{
    width:400px;
    padding-top: 30px;
    margin:0 auto;

}
.signup-form input{
     width:90%;
     height:40px;
     padding :0px 5px;
     border:none;
     background-color: white;
     margin-bottom: 4px;
     font-family: Arial;
     font-size: 16px;
     color:#111;
     line-height: 40px;
 }
.signup-form select{
    width:90%;
    height:40px;
    padding :0px 5px;
    border:none;
    background-color: white;
    margin-bottom: 4px;
    font-family: Arial;
    font-size: 16px;
    color:#111;
    line-height: 40px;
}
.signup-form button{
    display: block;
    margin:0 auto;
    width:30%;
    height:40px;
    padding :0px 5px;
    border:none;
    background-color: black;
    margin-bottom: 4px;
    font-family: Arial;
    font-size: 16px;
    color:white;
    cursor: pointer;
}
.signup-form button:hover{

    background-color: gray;


}
header .nav-login form a{
    float:left;
    height:30px;
    padding:0px 10px;
    margin-right:10px;
    border:black;
    background-color: white;
    font-family:arial;
    font-size:14px;
    color:#111;
    line-height:30px;
    width:auto;
}
header .nav-login .btn{
    float:left;
    width:60px;
    height:30px;
    margin-right:10px;
    border:black;
    background-color: whitesmoke;
    font-family:arial;
    font-size:14px;
    color:#111;
    cursor:pointer;

}
.homeclass{
    width:30%;
    height: auto;
    margin-top:20px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(0,0,0,0.4);
    text-align: center;
    font-family: "Roboto";
    border-radius: 25px;
    padding :10px 10px;
    color: white;
    line-height: 40px;
}
.about{
    height: auto;
    position:absolute;
    right:0;
    width:10%;
    top:10vh;
    font-size: 25px;
    margin-right:0px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    font-family: "Roboto";
    border-radius: 25px;
    color: rgba(0,0,0,0);
    height: 100vh;
    line-height: 40px;
}
.about p{
    line-height: 10px;
}
#aboutH{
    text-align: center;
    font-size: 30px;

}
.headerT{
    background-color: black;
    text-align: center;
    color: white;
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
}

.names{
    border-radius: 5px;
}
.htag{
    color: white;
}